.Mealpackcards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 40px;
  flex-wrap: wrap;
}
.header {
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* mealpackcard */

.Mealpackcard {
  border: 2px solid black;
  padding: 20px;
  margin: 50px;
}
.Mealpackcard h3 {
  padding-top: 0px;
  margin-top: 0px;
}
.Mealpackcard p {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.flexybox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
}
